PORT=5000
MONGO_URI=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
UPSTASH_REDIS_URL=
CLIENT_URL=http://localhost:5173
NODE_ENV=development
GOOGLE_API_KEY=
ADMIN_SETUP_KEY=
SESSION_SECRET=changeme
